.board {
    background-color: #12232E;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    width: 100%;
    padding: 1em 0 1em 0;
    margin-bottom: 0;
    justify-content: center;
}

.field {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 54px;
    background-color: #ffffff;
    color: #12232E;
    border: none;
    border-radius: 0px;
    border-bottom: 3px solid #203647;
    border-right: 3px solid #203647;
    outline: none;
}

.field.no-r {
    border-right: none;
}

.field.no-b {
    border-bottom: none;
}

.field p {
    margin: 0px;
}

.field:hover {
    cursor: pointer;
}

#winner {

    text-align: center;
    font-size: 50px;
    font-weight: bold
}

#restart {
  font-weight: bold;
}